
body {
    /* Ici on utilise le sélecteur body pour appliquer une police et une taille par défaut pour les éléments */
    font-family: 'Manrope', sans-serif;
    font-size: 1em;
    background-color: #1F2039;
  }


a {
    color:#242424;
    text-decoration: none;
}

h1 {
    font-size: 3.5em;
    color: #a5b4fc;
    font-family: 'Montserrat', sans-serif;
  }

h2 {
    color: #f9f8ff;
  }

p,
li {
  font-size: 1.1em;
  color: #f9f8ff;
}


em {
    color: #a5b4fc;
    font-style: normal;
  }

div {
    background-color: white;
    color: #242424;
}

/* classes */

.entete,
.pied-de-page {
  background-color: white;
}

.cta {
background: linear-gradient(#8E86B5, #ACAEED);
color: white;
}

